* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #23252C;
    text-align: center;
}

.container1 {
    width: 318px;
    border: solid 1px red;
    border-radius: 5%;

    background: #1A1B21;

    margin: 44px;
    color: #FFF;
}

.container {
    padding: 0 35px;
}

.info--photo {
    width: 100%;
    border-radius: 5% 5% 0 0;
}

.info--name {
    font-size: 25px;
    margin-top: 20px;
}

.info--role {
    color: #F3BF99;
    font-weight: normal;
    font-size: 12.8px;
    margin-top: 6px;
}

.info--site {
    color: #F5F5F5;
    margin-top: 9px;
    font-size: 10.24px;
}

button {
    background: #FFF;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    width: 100%;
    height: 34px;
    margin-top: 16px;
}

button > img {
    margin-right: 10px;
}



