* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #23252C;
}

.app--container {
    width: 318px;
    margin: 44px;
    border-radius: 25px;
    background: #1A1B21;
}

.container {
    padding: 0 35px;
}

.info {
    text-align: center;
}

.info--photo {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.info--name {
    font-size: 25px;
    margin-top: 20px;
    color: #FFF;
}

.info--role {
    color: #F3BF99;
    font-weight: normal;
    font-size: 13px;
    margin-top: 6px;
}

.info--site {
    color: #F5F5F5;
    margin-top: 9px;
    font-size: 12px;
}

button {
    background: #FFF;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    width: 100%;
    height: 34px;
    margin-top: 16px;
    cursor:pointer;
}

button > img {
    margin-right: 10px;
}

h3 {
    color: #F5F5F5;
    font-size: 16px;
}

p {
    color: #DCDCDC;
    font-size: 12px;
    margin-top: 5px;
}

#about {
    margin-top: 32px;
}

#interests {
    margin-top: 27px;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    width: 100%;
    height: 64px;
    background: #161619;
    border-radius: 0 0 25px 25px;
}





